/**
 *    SPDX-License-Identifier: Apache-2.0
 */

#root > div > div:nth-child(1) > nav > a
{
    font-size: 30pt;
    /* margin-left: 670px; */
    font-weight: 300;
}
#root > div > div:nth-child(1) > nav{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 75px;
}

.admin-buttons{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 15px;
}
.bell{
    margin-top: 36px;
    color: #5F6164;
    font-size: 15pt;
}
.bell:hover{
    margin-top: 36px;
    color: #24272a;
    font-size: 15pt;
}
/* Navigation bar */
 div.menuItems > nav > ul{
    /* margin-left: 160px!important; */
    margin-left: 100px!important;
    margin-right: 100px!important;
    padding-top: 2px;
    padding-bottom: 2px;
    /* padding-left: 15px;
    padding-right: 15px; */
    align-items: center;
}

.menuItems > nav > ul > li.active{
    color:#22313F;
    font-weight: bolder;
}

div.menuItems > nav{
    border-top: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
}
.logo{
    /* width: 365px;
    height: 70px; */
    max-width: 200px;
    max-height: 50px;
}

/* Scaling */

.chart-stats{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px!important;
    margin-right: 50px!important;
    /* transform: scale(1.0); */
     /* min-width: 610px!important; */
    /* min-height: 165px!important; */
    align-items: left;
}

.orgtxscaled{
  margin-top: 5px;
  /* margin-bottom: 10px; */
  margin-right: 50px!important;
  padding-left: auto;
  /* transform: scale(1.0); */
  align-items: left;
}

.tabsscale{
    transform: scale(1.0);
    margin-right: 5px;
}

.activity-stream{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px!important;
    margin-right: 50px!important;
    /* transform: scale(1.0); */
    /* min-width: 650px!important;
    min-height: 165px!important; */
    align-items: left;
}

.peer-graph{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 50px!important;
  padding-left: auto;
  /* transform: scale(1.0); */
  align-items: left;
}


/* Dashboard */
 .count-card{
     height: 80px;
     margin-left: auto;
     margin-right: auto;
     /* align-items: center; */
     text-align: center;
 }
.card-body > h4{
    font-size: 15pt;
}
 .dark-card{
     background-color: #24272a;
     color:#f3f9f9;
 }
 .light-card{
    background-color: #5F6164;
    color:#f3f9f9;
 }

.timeline-event{

}
.timeline-items{
    background-color:#cfcfce;
    padding: 5px;
    transform: scale(1.0);
}
.card-header{
    background-color: #24272a;
     color:#f7f7f7;
     font:bold;
}
/* Table and List  */
#root > div > div.App > div > div:nth-child(1) > div > div:nth-child(2) > div > table{
    min-width: 970px;
    border: 1px #bdc3c7 solid;
}
.table thead th{
    border-bottom-color: #bdc3c7!important;
}

#root > div > div.App > div > div:nth-child(1) > div > div:nth-child(2) > div > table th> tbody td {
    border-color: #bdc3c7!important;
}


#blockList{
    border: 1px #bdc3c7 solid;
    width: 1090px;
}
#blockDetails{
    border: 1px #bdc3c7 solid;
    min-width: 730px;
}
#blockDetails > a{
    text-decoration: none;
}
.hash-hide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
}
#txDetails{
    border: 1px #bdc3c7 solid;
    min-width: 730px;
}
.container{
    /* padding-left: 280px; */
}
.peerList{
    /* margin-left: 300px; */
    max-width: 550px;
}
.scrollTable{
    /* height: 750px; */
    /* overflow: auto; */
    width: 1200px;
}
.fixed-header thead >tr{
    position: relative;
}
/* Landing page css */
.landing{
    margin-top: 450px;
    margin-left: 550px;
}
.landing > h1{
    font-size: 40pt;
}
.landing > div {
    margin-left: 150px;
}
.wip{
    color:#bdc3c7;
    font-size:16pt;
}
/* Peer Graph  */

div.custom-container {
	background-color: #242424;
}

svg.custom .node circle {
    fill: #29621e;
	stroke: #29621e;
	stroke-width: 1.5px;
}

svg.custom .node text {
	font-size: 14px;
	background-color: #444;
	/* fill: #F4F4F4; */
	fill: #000000;
	/* text-shadow: 0 1px 4px black; */
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #29621e;
	stroke-width: 1.5px;
}

/* Pagination */

.pagination li {
    float: left;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 12pt;
    border-radius: 3px;
    margin-left: 3px;
    border:solid #bdc3c7 2px;
}
.pagination li > a{
    color: black;
}
.pagination li.active {
    background-color: #22313F;
    color: white;
    border-radius: 3px;
    border:solid #bdc3c7 2px;
}
.pagination li.active a{
    color: white;

}

/* Admin Panel */
.select-channel{
    width: 200px;
}
.channel-form{
    display: flex;
    flex-wrap: wrap;    flex-wrap: wrap;}
